@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0b0f22;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
}

nav a,
header a {
  font-weight: 400;
  font-size: 1.5rem;
  color: #f1f0e8;
  text-decoration: inherit;
}

nav a:hover,
header a:hover {
  color: #d1aa0c;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 2.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: #d1aa0c;
}

button:hover {
  background-color: #d6ac04aa;
}

#logo-yellow {
  transition: filter 300ms;
  height: 48px;
}

#logo-yellow:hover {
  filter: drop-shadow(0 0 2em #ffcc00aa);
  width: auto;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  nav a:hover,
  header a:hover {
    color: #ffcc00aa;
  }
}
