@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #18171f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 24px;
  color: #f1f0e8;
  text-decoration: inherit;
}
a:hover {
  color: #d1aa0c;
}

body {
  margin: 0;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 3.5em;
  line-height: 1.1;
}
P {
  font-size: 1.5em;
  line-height: 1.5;
  margin-top: 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  margin-top: 18px;
  padding: 0.6em 2.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ffcc00aa;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #1d1701aa;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#logo-yellow:hover {
  filter: drop-shadow(0 0 2em #ffcc00aa);
  width: auto;
}
#logo-yellow {
  transition: filter 300ms;
  height: 48px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #ffcc00aa;
  }
  button {
    background-color: #f9f9f9;
  }
}
